VITE_SUPABASE_URL=https://ucohxnoanqitcuegxbpg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjb2h4bm9hbnFpdGN1ZWd4YnBnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI1NDQwNzYsImV4cCI6MjA3ODEyMDA3Nn0.5f4Lgw113FSR97qWJ00RnSIk0t_H9DI8qofnHl54HoM